<h1>New product</h1>

<form id="new-product" name="product">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="category_id"> category_id:</label>
    <input type="text" name="category_id" id="category_id" value="<%= category_id %>" >
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" >
  </div>

  <div class="field">
    <label for="quantity"> quantity:</label>
    <input type="text" name="quantity" id="quantity" value="<%= quantity %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Product" />
  </div>

</form>

<a href="#/index">Back</a>